html{
    background-color: grey;
}


.tile{
    background: rgb(255, 255, 255);
    width:100px;
    height:100px;
    border: red solid 1px;
    box-sizing: border-box;
    text-align: center;
    font-size:52px;
}

#container{
    display:flex;
    width:300px;
    flex-wrap: wrap;
}